appdirs==1.4.4
certifi==2022.9.24
charset-normalizer==2.1.1
ConfigArgParse==1.5.3
deepl==1.11.0
google-i18n-address==2.5.2
html5lib==1.1
idna==3.4
intervaltree==3.1.0
Jinja2==3.1.2
lxml==4.9.1
MarkupSafe==2.1.1
pycountry==22.3.5
PyYAML==6.0
requests==2.28.1
six==1.16.0
sortedcontainers==2.4.0
urllib3==1.26.13
wcwidth==0.2.5
webencodings==0.5.1
xml2rfc==3.15.3
