@import url(https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Noto+Sans+Mono&display=swap);

@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

body {
  margin: 1.5em auto;
  color: #222;
  background-color: #fff;
  font-size: 14px;
  font-family: "BIZ UDPGothic", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.row {
  display: flex;
  width: 100%;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
  width: 50%;
  padding: 0px 5% 0px 5%;
  box-sizing: border-box;
}

/* links */
a {
  text-decoration: none;
}
a[href] {
  color: #22e; /* Arlen: WCAG 2019 */
}
a[href]:hover {
  background-color: #f2f2f2;
}
figcaption a[href],
a[href].selfRef {
  color: #222;
}

/* tables */
table {
  width: 100%;
  margin: 0 0 1em;
  border-collapse: collapse;
  border: 1px solid #eee;
}
th,
td {
  text-align: left;
  vertical-align: top;
  padding: 0.5em 0.75em;
}
th {
  text-align: left;
  background-color: #e9e9e9;
}
tr:nth-child(2n + 1) > td {
  background-color: #f5f5f5;
}
table caption {
  font-style: italic;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }
  .col {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

/* Provide styling for table cell text alignment */
table td.text-left,
table th.text-left {
  text-align: left;
}
table td.text-center,
table th.text-center {
  text-align: center;
}
table td.text-right,
table th.text-right {
  text-align: right;
}

/* Control caption placement */
caption {
  caption-side: bottom;
}

.bcp14 {
  font-weight: bold;
}

blockquote {
  background-color: rgb(249, 249, 249);
  color: rgb(17, 17, 17);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3px;
  margin: 1em 0px;
  padding: 1.2em 2em;
}

dt {
  break-before: auto;
}

dl > dd {
  margin-bottom: 0.8em;
  min-height: 1.3em;
}

dl > dt {
  float: left;
  margin-right: 1em;
}

.references dt {
  text-align: right;
  font-weight: bold;
  min-width: 7em;
}

.references dd {
  margin-left: 8em;
  overflow: auto;
}

h1 {
  font-size: 26px;
  margin: 1em 0;
}
h2 {
  font-size: 22px;
  padding-top: 33px;
}
h3 {
  font-size: 18px;
  padding-top: 42px;
}
h4 {
  font-size: 16px;
  padding-top: 42px;
}
h5,
h6 {
  font-size: 14px;
}
