@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

body {
  max-width: 90%;
  margin: 1.5em auto;
  color: #222;
  background-color: #fff;
  font-size: 14px;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}
